<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Anagram Checker</title>
  </head>
  <body>
    <div class="container">
      <h1>Check if a word is an anagram!</h1>
      <div>
        <form id="formOne" action="/result">
          <div class="form-group">
            <label for="initialWord">Baseline Word: </label>
            <input id="initialWord" name="initialWord" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="potentialAnagram01">Potential Anagram Word: </label>
            <input id="potentialAnagram01"  name="potentialAnagram01" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="potentialAnagram02">Potential Anagram Word: </label>
            <input id="potentialAnagram02"  name="potentialAnagram02" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="potentialAnagram03">Potential Anagram Word: </label>
            <input id="potentialAnagram03"  name="potentialAnagram03" class="form-control" type="text">
          </div>

          <button type="submit" class="btn btn-primary">Show me the results!</button>
        </form>
      </div>
  </body>
</html>